/* ======Миксины====== */
@import 'mixins.scss';
/* ======/Миксины====== */

/* ======Шрифты====== */
@import 'fonts.scss';
/* ======/Шрифты====== */

/* ======Переменные====== */
@import 'variables.scss';

$font: Roboto;
$dfont: 14px;

/* ======/Переменные====== */

/* ======Обнуление====== */
@import 'null.scss';
/* ======/Обнуление====== */

body {
    font-family: $font;
    color: #ffffff;
}

#root {
    height: 100%;
}

.wrapper {
    background-color: #000823;
    height: 100%;
    &.light {
        background-color: #ffffff;
    }
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
}