.alert {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -200%);

  width: 100%;
  max-width: 200px;
  text-align: center;

  background-color: #3ab80087;
  padding: 15px 30px;
  border-radius: 10px;

  transition: transform 0.3s ease;

  &.active {
    transform: translate(-50%, 0%);
  }
}
.text {
  font-size: 14px;
  font-weight: normal;
}
