.nav {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo,
.list {
  display: flex;
  align-items: center;
}
.logo {
  gap: 10px;
}
.logo,
.item {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.title {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.list {
  gap: 16px;
}
